.App {
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #282c34 ;
  background-color: #FAF9F6;
}

body {
  background-color: #FAF9F6;
}

.return_policy {
  max-width: 500px;
}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

a:link {
  color:#282c34 
}

a:visited {
  color:#282c34 
}

.page_content {
  margin-left: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
